services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - ./.yarn/sdks:/app/.yarn/sdks
    environment:
      - NODE_ENV=development
    restart: unless-stopped
