services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "${VITE_PORT:-5173}:5173"
    volumes:
      - .:/app
      - ./.yarn/sdks:/app/.yarn/sdks
      - ./.yarn/cache:/app/.yarn/cache
    environment:
      - NODE_ENV=development
    restart: unless-stopped
